  <nav>
    <div class="nav-first-row">
      <%= link_to root_path do %>
        <%= image_tag "logo2.png" %>
      <% end %>
      <p><%= link_to "06.62.58.86.00", pages_contact_path %><br/>
      <%= link_to "coolingtech31@gmail.com", pages_contact_path %></p>
    </div>

    <div class="row form-inline">
      <div>
      </div>
      <div class=nav-sections>
        <div class="nav-section">
          <%= link_to pages_energie_renouvelable_path do %>
            <%= image_tag "energie_renouvelable.png" %>
          <% end %>
          Éco Énergie
        </div>
        <div class="nav-section">
          <%= link_to pages_eau_chaude_sanitaires_path do %>
            <%= image_tag "eau-chaude.png" %>
          <% end %>
          Eau chaude
        </div>
        <div class="nav-section">
          <%= link_to pages_climatisation_path do %>
            <%= image_tag "clim.png" %>
          <% end %>
          Climatisation
        </div>
        <div class="nav-section">
          <%= link_to pages_chauffage_path do %>
            <%= image_tag "chauffage.png" %>
          <% end %>
          Chauffage
        </div>
      </div>
    </div>
  </nav>
