<div class="wrapper-background">
  <nav class="id="navbar">
    <div class="row">
      <div>
        <%= image_tag "logo.png", id: "navbar-logo" %>
      </div>
    </div>

    <div class="row form-inline">
      <div>
      </div>
      <div class=nav-sections>
        <div class="nav-section">
          <%= image_tag "energie_renouvelable.png", class:"section-icon" %>
          <%= link_to "Énergie renouvelable", "../pages/energie_renouvelable"%>
        </div>
        <div class="nav-section">
          <%= image_tag "eau_chaude.png", class:"section-icon" %>
          <%= link_to "Eau chaude & Sanitaires", "../pages/eau_chaude_sanitaires" %>
        </div>
        <div class="nav-section">
          <%= image_tag "chauffage.png", class:"section-icon" %>
          <%= link_to "Chauffage", "../pages/chauffage", class: "navbar-section" %>
        </div>
        <div class="nav-section">
          <%= image_tag "climatisation.png", class:"section-icon" %>
          <%= link_to "Climatisation", "../pages/climatisation", class:"navbar-section"%>
        </div>
      </div>
    </div>
  </nav>

  <div class="content-rest">
    <div class="content-page">
      <div class="content-section">
        <span>CLIMATISATION</span>
        <div class="content-section2">
          <div class="content-description-chauffage2">
            <div>kjbcxjnlkynvlynclnsyjkvnksdjnvldsknvdakvhbdsjv cwkj bdsjyhv dsjhy v
              skjdckds vksjdbv k syj vlsylnvl s
              sdkjcbndskysbv ksdxbvls
              akjcndy.nvlaöm
            </div>
          </div>
          <div class= "image2">
            <%= image_tag "chauffage/sol1.png", class:"img2" %>
          </div>
      </div >
      </div>
    </div>
  </div>
