<div class="wrapper-background">
    <%= render 'navbar' %>

  <div class="wrapper-content">
    <h1><strong>Envie de nous contacter, de suivre nos actualités?</strong></h1>
    <div class="script-page">
      <div class="script-contact">
      </div>
      <div class="contact-details">
        <div class="script-content-welcome">
          <ul>
            <li><%= link_to 'https://www.facebook.com/SASUcoolingtech31/' do %>
              <%= image_tag "fb.png" %>
            <% end %>SASUcoolingtech31</li>
            <li><%= image_tag "mail.png" %> coolingtech31@gmail.com</li>
            <li><%= image_tag "tel2.png" %> 06.62.58.86.00</li>
            <li><%= image_tag "home.png" %> SASU Coolingtech31<br/> 7 impasse jacky thomas <br/>
  81370 Saint-Sulpice-La-Pointe <br/></li>
          </ul>

        </div>

        <div class="contact-form">
          <%= render 'contacts/form' %>
        </div>
      </div>

    </div>
  </div>
</div>
