<!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Rajdhani:400" rel="stylesheet">

      <title>Coolingtech31, des experts pour vos chauffages et climatisations</title>
      <meta name="description" content="Coolingtech31 vous proposent de nombreuses solutions personnalisées pour vous équiper en chauffages, climatisations, eau chaude et installations d'énergie renouvelable.">
      <meta name=”keywords” content="coolingtech, coolingtech31, chauffage, sanitaire, climatisation, eau, energie-renouvelable, eco-énergie, installation, toulouse, occitanie, midi-pyrenees, plancher-chauffant, radiateur, photovoltaique/">

      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag 'application', media: 'all' %>
      <%= javascript_include_tag 'application' %>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="style">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">



    </head>

  <body>
      <%= yield %>
    </div>
  </body>
</html>
